<?xml version="1.0"?>
<configuration>
  <!--<system.webServer>
  
    </system.webServer>
-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpCookies requireSSL="false"/>
    <trace enabled="false" localOnly="false"/>
    <httpRuntime enableVersionHeader="false" maxRequestLength="2097151"/>
    <authorization>
      <allow verbs="POST" users="*"/>
    </authorization>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.Office.Interop.Excel, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off" defaultRedirect="error/400.html" redirectMode="ResponseRewrite">
      <error statusCode="400" redirect="error/400.html"/>
      <error statusCode="401" redirect="error/401.html"/>
      <error statusCode="402" redirect="error/402.html"/>
      <error statusCode="403" redirect="error/403.html"/>
      <error statusCode="404" redirect="error/404.html"/>
      <error statusCode="408" redirect="error/408.html"/>
      <error statusCode="429" redirect="error/429.html"/>
      <error statusCode="500" redirect="error/500.html"/>
      <error statusCode="501" redirect="error/501.html"/>
      <error statusCode="502" redirect="error/502.html"/>
      <error statusCode="503" redirect="error/503.html"/>
      <error statusCode="504" redirect="error/504.html"/>
      <error statusCode="505" redirect="error/505.html"/>
      <error statusCode="520" redirect="error/520.html"/>
    </customErrors>
    <authentication mode="Forms">
      <forms name="login" protection="All" slidingExpiration="false" cookieless="UseCookies" loginUrl="~/Login.aspx"/>
    </authentication>
    <sessionState cookieless="UseCookies"/>
    <pages enableViewStateMac="true" viewStateEncryptionMode="Always" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <connectionStrings>
    <add name="conStr" connectionString="Data Source=EC2AMAZ-EO66IKK\INTERNALSERVER; initial catalog=Reappointment; user id=sa; password=Ihat@123"/>
    <!--<add name="conStr" connectionString="Data Source=180.179.206.221,21443; initial catalog=ManavSampada; user id=ayushi23; password=sangam"/>-->
    <!--<add name="conStr" connectionString="Data Source=localhost; initial catalog=ManavSampada; user id=sa; password=sangam$123"/>-->
  </connectionStrings>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="2000"/>
    <add key="aspnet:MaxJsonDeserializerMembers" value="2000"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.webServer>
    <!--<rewrite>
      <rules>
        <rule name="HTTP/S to HTTPS Redirect" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>-->
    <defaultDocument>
      <files>
        <remove value="default.aspx"/>
        <remove value="index.htm"/>
        <remove value="iisstart.htm"/>
        <remove value="Default.asp"/>
        <remove value="index.html"/>
        <remove value="Default.htm"/>
        <add value="Questionnaire.aspx"/>
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="DENY"/>
        <add name="X-Permitted-Cross-Domain-Policies" value="master-only"/>
        <add name="X-XSS-Protection" value="1; mode=block"/>
        <remove name="X-Powered-By"/>
        <remove name="X-AspNet-Version"/>
        <remove name="Server"/>
      </customHeaders>
    </httpProtocol>
    <asp scriptErrorSentToBrowser="true"/>
  </system.webServer>
</configuration>